/* Fonts */
@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}

.container {
    align-content: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container::after {
  content: "";
  background: url('../images/marco bw.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -200px;
  background-position-x: -52px;
  opacity: 0.3;
  top: 140px;
  left: 0px;
  bottom: -1330px;
  right: 0px;
  position: absolute;
  z-index: -1;  
  object-fit: cover;
}

.header {
    font-family: BebasNeue;
    color: black;
    font-size: 100px;
    text-align: left;
    position: sticky;
}

h2 {
    font-family: BebasNeue;
    font-size: 40px;
}

.row {
    width: 100%;
    margin: 0px -150px 0px -150px;
}

.sidenav {
    height: 100%;
    position: fixed; 
    top: 0; 
    right: 0;
    background-color: white;
    padding-top: 275px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

.footer {
    text-align: center;
}

span {
    color: orangered;
}

p {
    margin-right: 60px;
}

img {
    margin-right: 60px;
}
