/* Fonts */
@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

.container {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url('../images/marco-bw.png');
    background-size: 95%;
    background-repeat: no-repeat;
    padding: 20px 20px 300px 20px;
    color: black;

}

.header {
    font-family: BebasNeue;
    color: black;
    font-size: 100px;
    text-align: left;
    position: sticky;
    padding-left: 25px;
}

h2 {
    font-family: BebasNeue;
    font-size: 40px;
}

.row {
    width: 100%;
}

.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
    top: 33%;
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

.footer {
    text-align: center;
}

span {
    color: orangered;
}

p {
    margin-right: 60px;
}

img {
    margin-right: 60px;
}
