@font-face {
    font-family: "BebasNeue";
    src: url('../images/fonts/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

.col-lg-11 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url('../images/team/marco-bw.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1em 1em 20em 1em;
    color: black;
    font-size: 1em;
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
}

h2 {
    font-family: BebasNeue;
    font-size: 3em;
    color: black;
}

.col-lg-1 {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    height: 200px;
 }

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 97, 0);
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
    margin-bottom: 1em;
}

.fas {
    font-size: 1.3em;
}

.fab {
    font-size: 1.3em;
}

@media only screen and (max-width: 995px) {
    .col-lg-10 {
        width: 90%;
        margin-left: 1.7em;
    }
}

@media only screen and (max-width: 600px) {
    .col-lg-10 {
        width: 80%;
        margin-left: 1.7em;
    }

    img {
        margin-right: -4em;
    }
}