@font-face {
    font-family: "BebasNeue";
    src: url('../images/fonts/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
    margin-left: 0em;
}
.col-lg-5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidenav {
text-align: center;
padding-top: 50%;

}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 97, 0);
}

h2 {
    font-family: BebasNeue;
    font-size: 3em;
    color: rgb(104, 104, 104);
}

p {
    margin-bottom: 0em;
}

#links {
    color: rgb(255, 97, 0);;
}

#submit {
    background: rgb(255, 97, 0);
    border: rgb(255, 97, 0);
    border-radius: .25em;
    color: white;
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
    margin-bottom: 1em;
}

.row {
    padding-left: 5%;
}