/* Fonts */
@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
    margin-left: 0em;
}

.row {
    width: 100%;
}

.col {
    align-content: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
    top: 33%;
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

/* Main Container */
.main-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0px 25px 0px;
    text-align: center;
}

/* Contact Page */

h2 {
    font-family: BebasNeue;
    font-size: 50px;
    text-align: left;
}

h6 {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

p {
    margin-bottom: 0em;

}

#links {
    color: orangered;
}

.text {
    font-size: 15px;
    color: black;
}

img {
    margin-left: 50px;
}

.footer {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
}