@font-face {
    font-family: "BebasNeue";
    src: url('../images/fonts/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 2em;
    margin-left: 0em;
}

.col-lg-1 {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    height: 200px;
 }

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 97, 0);
}

img {
    width: 50em;
    margin-bottom: 1em;
    align-content: left;
}


img:hover{
    opacity: .5;
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
    margin-bottom: 1em;
}

.fas {
    font-size: 1.3em;
}

.fab {
    font-size: 1.3em;
}

p {
    font-size: 0.7em;
    font-weight: 400;
}


h1 {
    font-family: BebasNeue;
    font-size: 5em;
}

.col-lg-4 {
    text-align: left;
}

#dwellImg {
   width: 10em;
   margin-bottom: -0.3em;
}

#adLogo {
    width: 40em;
    margin-bottom: -1.3em;
}


@media only screen and (max-width: 1300px) {
    .col-lg-5 {
        width: 100%;
        margin-left: 1.7em;
    }
    
    img {
        margin-left: -1.5em;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 995px) {
    .col-lg-5 {
        width: 100%;
        margin-left: -0.2em;
    }
    
    img {
        margin-left: -1.5em;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .col-lg-5 {
        width: 100%;
        margin-left: 0.2em;
    }

    img {
        width: 100%;
        height: auto;
    }
}