@font-face {
    font-family: "BebasNeue";
    src: url('../images/fonts/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
}

.sidenav {
text-align: center;
padding-top: 50%;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 97, 0);
}

/* Slideshow */
.slideshowcontainer {
    width: 85%;
    margin: auto;
  }
    
    
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
    
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
    
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
    margin-bottom: 1em;
}

.row {
    padding-left: 5%;
}

.fas {
    font-size: 1.3em;
}

.fab {
    font-size: 1.3em;
}