@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
 }
 
 body {
  color: rgb(126, 126, 126);
  background-color: rgb(243, 243, 243);
 }
 
#logo {
  width: 100%;
  position: sticky;
  margin-top: .5em;
  margin-bottom: 5em;
}
 
 .row {
    text-align: center;
 }
 
 .col-lg-5 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .sidenav {
   text-align: center;
   padding-top: 50%;
}
 
 a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
 }
 
 a:hover {
    text-decoration: none;
    color: rgb(255, 97, 0);
 }

 .thumbnails {
   padding-top: 3em;
 }

 img {
   margin-top: 1em;
 }

 .footer {
  text-align: center;
  font-size: .5em;
  margin-top: 5em;
  margin-bottom: 1em;
}

.row {
  padding-left: 5%;
}