@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
 }
 
 body {
  color: rgb(126, 126, 126);
  background-color: rgb(243, 243, 243);
 }

p {
  font-size: 1em;
}
 
#logo {
  width: 100%;
  position: sticky;
  margin-top: .5em;
  margin-bottom: 5em;
}
 
 .row {
    padding-left: 5%;
 }

 .sidenav {
   text-align: center;
   padding-top: 50%;
}
 
 a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
 }
 
 a:hover {
    text-decoration: none;
    color: rgb(255, 97, 0);
 }

 img {    
  object-fit: cover;    
  margin-bottom: .4em;
}

 .footer {
  text-align: center;
  font-size: .5em;
  margin-top: 5em;
  margin-bottom: 1em;
}

.fas {
  font-size: 1.3em;
}

.fab {
  font-size: 1.3em;
}

.leftPic {
  object-fit: cover;
}

h3 {
  text-align: center;
}