/* Fonts */
@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
    margin-left: 0em;
}

.col {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
}
.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
    top: 33%;
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

h2 {
    font-family: BebasNeue;
    font-size: 50px;
    text-align: center;
}

img {
    width: 400px;
    margin: 25px;
}

img:hover{
    opacity: .5;
}

.row {
    width: 100%;
}

.h3 {
    font-family: serif;
    font-weight: bold;
    font-size: 35px;
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
}
