/* Fonts */
@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}

/* Header */
.header {
    font-family: BebasNeue;
    color: black;
    font-size: 100px;
    text-align: left;
    position: sticky;
}
.row {
    width: 100%;
    margin: 0px -150px 0px -150px;
}

.col {
    align-content: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidenav {
    height: 100%;
    position: fixed; 
    top: 0; 
    right: 0;
    background-color: white;
    padding-top: 275px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

/* Main Container */
.main-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0px 25px 0px;
    text-align: center;
}

h2 {
    font-family: BebasNeue;
    font-size: 50px;
    text-align: center;
}

.img-profile {
    height: auto;
    width: 100%;
    padding-right: 20px;
}

span {
    color: orangered;
}

.footer {
    text-align: center;
}

img {
    width: 100px;
}

img:hover{
    opacity: .5;
}