@font-face {
    font-family: "BebasNeue";
    src: url('../images/fonts/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}
.container {
    padding-bottom: 40em;
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
}

.row {
    width: 90%;
    padding-left: 2em;
}

.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    width: 10%;
    top: 33%;
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

a:hover {
    text-decoration: none;
    color: orangered;
}
 
/* Angelo's Addition */
#projects {
    position: inline;
    object-fit: cover;
    width: 222px;
    height: 600px;

}

.col {
    padding-left: 1em;
}

#projects:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
    margin-bottom: 1em;
}