/* Fonts */
@font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}
.container {
    padding-bottom: 600px;
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
}

.row {
    width: 100%;
}

.col {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
    top: 33%;
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
    
  .active, .dot:hover {
    background-color: #717171;
  }
    
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
    
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
    
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* Angelo's Addition */
img {
    position: absolute;
    object-fit: cover;
    width: 222px;
    height: 600px;
    padding: 10px;

}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
}