@font-face {
    font-family: "BebasNeue";
    src: url('../images/fonts/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
}

.row {
    align-content: center;
}

.sidenav {
   text-align: center;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

a:hover {
    text-decoration: none;
    color: orange;
}
 
/* Angelo's Addition */
#projects {
    width: 100%;
    object-fit: cover;
    height: 600px;
    padding: 1%;

}

#projects:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 5em;
    margin-bottom: 1em;
}