/* Fonts */
@font-face {
    font-family: "BebasNeue";
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.ttf');
    src: url('../fonts/BebasNeue-webfont.woff');
    src: local("BebasNeue"), url('../fonts/BebasNeue-webfont.ttf');
    src: url('/Users/cnyokoyama/Documents/UCLA/Homework/Project-1/assets/images/BebasNeue-Regular.ttf');
}

/* Header */
.header {
    font-family: BebasNeue;
    color: black;
    font-size: 100px;
    text-align: left;
    position: sticky;
}

/* Navigation Bar */
header {
    text-align: left;
}

.text2 {
    font-size: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -250px;
    color: white;
    width: 95%;
}

.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
    top: 33%;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

/* Main Container */
.main-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0px 25px 0px;
    text-align: center;
}

/* Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
  
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
  
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
  
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: #717171;
}
  
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
  
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Footer */
.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/* Contact Page */

h2 {
    font-family: BebasNeue;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.card {
    background-color: white;
    margin: 0px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
    /* padding-bottom: 120px; */
    width: 90%;
    /* background: url("/Users/cnyokoyama/Documents/UCLA/Homework/Project-1/assets/images/marco.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white; */
}

.img-profile {
    height: auto;
    width: 40%;
    padding-right: 20px;
    padding-top: 20px;
}

.img-header {
    width: 100%;
    height: 50px;
}

.text {
    font-size: 10px;
    color: black;
}

span {
    color: orangered;
}
