 /* Fonts */
 @font-face {
    font-family: "BebasNeue";
    src: url('../images/fonts/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

#logo {
    width: 100%;
    position: sticky;
    margin-top: .5em;
    margin-bottom: 5em;
}

.row {
   width: 100%;
   margin-left: -70px;
}

.col {
    align-content: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
    top: 33%;
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

a, a:link, a:visited, a:active {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: none;
   color: orangered;
}

h2 {
    font-family: BebasNeue;
    font-size: 50px;
    text-align: center;
}

p {
    font-size: .9em;
    margin-top: 600px;
    margin-left: 10px;
    margin-bottom: -43em;
}

#team {
    position: absolute;
    object-fit: cover;
    width: 222px;
    height: 600px;
    padding: 10px;
}

.text {
    font-size: 15px;
    color: black;
}

.footer {
    text-align: center;
    font-size: .5em;
    margin-top: 75em; /* change back to .5em, somehow */
}