 /* Fonts */
 @font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}

/* Header */
.header {
   font-family: BebasNeue;
   color: black;
   font-size: 100px;
   text-align: left;
   position: sticky;
}

span {
   color: orangered;
}

.row {
   width: 100%;
   margin: 0px -150px 0px -150px;
}

.col {
    align-content: center;
    text-align: justify;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidenav {
   height: 100%;
   position: fixed; 
   top: 0; 
   right: 0;
   background-color: white;
   padding-top: 275px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   text-align: center;
   width: 10%;
}

a, a:link, a:visited, a:active {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: none;
   color: orangered;
}

/* Main Container */
.main-container {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 10px 0px 25px 0px;
   text-align: center;
}

/* Contact Page */

h2 {
    font-family: BebasNeue;
    font-size: 50px;
    text-align: center;
}

p {
    margin-top: 600px;
    margin-left: 10px;
}

img {
    position: absolute;
    object-fit: cover;
    width: 222px;
    height: 600px;
    padding: 10px;
}

.text {
    font-size: 15px;
    color: black;
}

.footer {
  text-align: center;
}