 /* Fonts */
 @font-face {
    font-family: "BebasNeue";
    src: url('../images/BebasNeue-Regular.ttf');
}
body {
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

.header {
    font-family: BebasNeue;
    color: black;
    font-size: 100px;
    text-align: left;
    position: sticky;
    padding-left: 25px;
}

span {
   color: orangered;
}

.row {
   width: 100%;
}

.col {
    align-content: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidenav {
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 10%;
    top: 33%;
    color: rgb(126, 126, 126);
    background-color: rgb(243, 243, 243);
}

a, a:link, a:visited, a:active {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: none;
   color: orangered;
}

h2 {
    font-family: BebasNeue;
    font-size: 50px;
    text-align: center;
}

p {
    margin-top: 600px;
    margin-left: 10px;
}

img {
    position: absolute;
    object-fit: cover;
    width: 222px;
    height: 600px;
    padding: 10px;
}

.text {
    font-size: 15px;
    color: black;
}

.footer {
  text-align: center;
}